/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
* {
  box-sizing: border-box;
}
html {
  font-size: 62.5%;
}
html,
body {
  font-family: 'sans-serif';
}
h1,
h2,
h3,
h4,
h5 {
  font-family: 'sans-serif';
}
h1 {
  font-size: 4rem;
}
h2 {
  font-size: 3.2rem;
  padding-bottom: 10px;
}
h4 {
  font-size: 2.5rem;
  padding-bottom: 10px;
}
p {
  line-height: 1.5;
  font-size: 1.6rem;
  padding-bottom: 10px;
}
img {
  max-width: 100%;
  height: auto;
}
.container {
  width: 100%;
  margin: 0 auto;
}
@media (max-width: 500px) {
  .container {
    width: 100%;
  }
}
.nav-border {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-bottom: 1px solid;
  background-color: beige;
  height: 130px;
}
@media (max-width: 500px) {
  .nav-border {
    width: 100%;
  }
}
.nav-border h1 {
  margin-right: 65px;
  font-size: 6rem;
  align-content: center;
}
@media (max-width: 500px) {
  .nav-border h1 {
    margin-left: 70%;
    width: 100%;
  }
}
.nav-content nav {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-top: 2rem;
  font-size: 3rem;
}
.nav-content nav a {
  text-decoration: none;
  padding: 0 1.3rem;
  margin-bottom: 7rem;
}
@media (max-width: 500px) {
  .nav-content nav a {
    width: 100%;
    margin-bottom: 1px;
  }
}
.footer {
  text-align: center;
  margin-bottom: 30px;
}
p {
  font-size: 1rem;
  font-weight: bolder;
  text-align: center;
  margin-bottom: 30px;
}
p {
  font-size: 3rem;
  font-weight: bolder;
}
h1 {
  color: black;
  font-size: 8rem;
  padding: 0;
  margin-top: 100px;
  margin-bottom: 75px;
}
h1 .banner {
  margin-left: 500px;
  margin-bottom: 100px;
}
@media (max-width: 500px) {
  h1 .banner {
    width: 100%;
    margin-left: 0%;
    font-size: 5rem;
  }
}
h1 h3 {
  color: #1F4A13;
  font-size: 8rem;
  padding: 0;
  margin-top: 100px;
  margin-left: 525px;
  margin-bottom: 75px;
}
@media (max-width: 800px) {
  h1 h3 {
    width: 100%;
    margin-top: 100px;
    font-size: 5rem;
    height: 25px;
  }
}
@media (max-width: 500px) {
  h1 h3 {
    width: 100%;
    margin-left: 0%;
    margin-top: 100px;
    font-size: 5rem;
    height: 25px;
  }
}
h1 .jokes {
  margin-top: 95px;
  background: #99ccff;
}
h1 .joke {
  margin: 3% 10%;
  text-align: center;
  padding: 0 20px 25px;
  border-radius: 10px;
  position: relative;
  height: 115px;
  background: #b800e6;
  overflow: hidden;
  box-shadow: 2px 2px 2px lightgrey;
}
@media (max-width: 500px) {
  h1 .joke {
    height: 165px;
  }
}
h1 .joke h2 {
  font-size: 45px;
  padding: 0;
  margin: 15px 0 0;
  font-weight: bold;
  color: #b3d9ff;
}
h1 .joke p {
  font-size: 55px;
  margin-top: 75px;
  font-weight: bolder;
  color: #ffa64d;
}
h1 .joke h2 {
  font-size: 45px;
  padding: 0;
  margin: 15px 0 0;
  font-weight: bold;
  color: #b3d9ff;
}
@media (max-width: 500px) {
  h1 .joke h2 {
    font-size: 35px;
  }
}
h1 .joke p {
  font-size: 55px;
  margin-top: 75px;
  font-weight: bolder;
  color: #ffa64d;
}
@media (max-width: 500px) {
  h1 .joke p {
    margin-top: 80px;
    font-size: 35px;
  }
}
h1 .joke .close {
  position: absolute;
  top: 10px;
  right: 10px;
}
h1 .joke .answerButton {
  position: absolute;
  bottom: 0;
  left: 50%;
  font-size: 45px;
  color: #009933;
  cursor: pointer;
  font-weight: bolder;
  transform: translate(-50%);
  background-color: #e6e600;
}
@media (max-width: 500px) {
  h1 .joke .answerButton {
    font-size: 30px;
  }
}
h1 .joke .joke-open {
  height: 300px;
}
@media (max-width: 500px) {
  h1 .joke .joke-open {
    height: 400px;
  }
}
body {
  width: 960px;
  margin: 0 auto;
  text-align: center;
  background: #1E6AE1;
}
#page {
  height: 100%;
}
#headerimage {
  width: 50%;
  position: relative;
}
#headertext {
  left: 0;
  position: top;
  text-align: center;
  width: 100%;
  letter-spacing: 7px;
  text-transform: uppercase;
  font-size: 300%;
  color: black;
}
#nav,
#welcome,
#copyright {
  padding: 15px;
  margin: 10px;
}
#welcomeparagraph:first-letter {
  font-size: 150%;
}
h2,
h3 {
  text-transform: uppercase;
}
li {
  display: inline;
  padding: 10px;
  margin: 7px;
  font-size: 125%;
}
a {
  position: relative;
  background: none;
  color: black;
  text-transform: uppercase;
  text-decoration: none;
  border: 0.2em solid black;
  padding: 0.5em;
  margin: 10px;
}
a::before {
  content: "";
  display: block;
  position: absolute;
  width: 10%;
  background: #1E6AE1;
  height: 0.3em;
  right: 20%;
  top: -0.21em;
  transform: skewX(-45deg);
  -webkit-transition: all 0.45s cubic-bezier(0.86, 0, 0.07, 1);
  transition: all 0.45s cubic-bezier(0.86, 0, 0.07, 1);
}
a::after {
  content: "";
  display: block;
  position: absolute;
  width: 10%;
  background: #1E6AE1;
  height: 0.3em;
  left: 20%;
  bottom: -0.25em;
  transform: skewX(45deg);
  -webkit-transition: all 0.45 cubic-bezier(0.86, 0, 0.07, 1);
  transition: all 0.45s cubic-bezier(0.86, 0, 0.07, 1);
}
a:hover::before {
  right: 80%;
}
a:hover::after {
  left: 80%;
}
#jokehere {
  font-size: 2em;
  color: #177E89;
}
.jokebox {
  height: 100px;
  background: #31393C;
}
button {
  margin: 25px;
}
/* Style inputs with type="text", select elements and textareas */
input[type=text],
select,
textarea {
  width: 100%;
  /* Full width */
  padding: 12px;
  /* Some padding */
  border: 1px solid #ccc;
  /* Gray border */
  border-radius: 4px;
  /* Rounded borders */
  box-sizing: border-box;
  /* Make sure that padding and width stays in place */
  margin-top: 15px;
  /* Add a top margin */
  margin-bottom: 25px;
  /* Bottom margin */
  resize: vertical;
  /* Allow the user to vertically resize the textarea (not horizontally) */
}
/* Style the submit button with a specific background color etc */
input[type=submit] {
  background-color: #4CAF50;
  color: white;
  padding: 12px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}
/* When moving the mouse over the submit button, add a darker green color */
input[type=submit]:hover {
  background-color: #45a049;
}
/* Add a background color and some padding around the form */
.container {
  border-radius: 5px;
  padding: 20px;
}
