/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
* {
  box-sizing: border-box;
}
html {
  font-size: 62.5%;
}
html,
body {
  font-family: 'sans-serif';
}
h1,
h2,
h3,
h4,
h5 {
  font-family: 'sans-serif';
}
h1 {
  font-size: 4rem;
}
h2 {
  font-size: 3.2rem;
  padding-bottom: 10px;
}
h4 {
  font-size: 2.5rem;
  padding-bottom: 10px;
}
p {
  line-height: 1.5;
  font-size: 1.6rem;
  padding-bottom: 10px;
}
img {
  max-width: 100%;
  height: auto;
}
.container {
  width: 100%;
  margin: 0 auto;
}
.jokenav {
  padding: 15px;
  margin: 50px;
}
@media (max-width: 500px) {
  .jokenav {
    display: flex;
    justify-content: center;
    width: 89%;
    margin-left: 40px;
  }
}
.jokenav a {
  position: relative;
  background: none;
  color: black;
  text-transform: uppercase;
  text-decoration: none;
  border: 0.2em solid black;
  padding: 0.5em;
  margin: 10px;
}
@media (max-width: 500px) {
  .jokenav a {
    display: flex;
    flex-direction: column;
    align-content: center;
    width: 85%;
    font-size: 2.5rem;
    margin-top: 40px;
  }
}
.jokenav a::before {
  content: "";
  display: block;
  position: absolute;
  width: 10%;
  background: #1E6AE1;
  height: 0.3em;
  right: 20%;
  top: -0.21em;
  transform: skewX(-45deg);
  -webkit-transition: all 0.45s cubic-bezier(0.86, 0, 0.07, 1);
  transition: all 0.45s cubic-bezier(0.86, 0, 0.07, 1);
}
.jokenav a::after {
  content: "";
  display: block;
  position: absolute;
  width: 10%;
  background: #1E6AE1;
  height: 0.3em;
  left: 20%;
  bottom: -0.25em;
  transform: skewX(45deg);
  -webkit-transition: all 0.45 cubic-bezier(0.86, 0, 0.07, 1);
  transition: all 0.45s cubic-bezier(0.86, 0, 0.07, 1);
}
.jokenav a:hover::before {
  right: 80%;
}
.jokenav a:hover::after {
  left: 80%;
}
.footer #button {
  width: 50px;
  height: 50px;
  border-radius: 35px;
  margin: 0 auto;
  position: relative;
  -webkit-transition: all 1s ease;
  -moz-transition: all 1s ease;
  -o-transition: all 1s ease;
  -ms-transition: all 1s ease;
  transition: all 1s ease;
}
.footer #button:hover {
  width: 35px;
  height: 35px;
  -webkit-transition: all 1s ease;
  -moz-transition: all 1s ease;
  -o-transition: all 1s ease;
  -ms-transition: all 1s ease;
  transition: all 1s ease;
  position: relative;
}
.footer {
  bottom: 0;
  left: 0;
  position: fixed;
  width: 100%;
  height: 2em;
  overflow: hidden;
  margin: 0 auto;
  -webkit-transition: all 1s ease;
  -moz-transition: all 1s ease;
  -o-transition: all 1s ease;
  -ms-transition: all 1s ease;
  transition: all 1s ease;
  z-index: 999;
}
.footer:hover {
  -webkit-transition: all 1s ease;
  -moz-transition: all 1s ease;
  -o-transition: all 1s ease;
  -ms-transition: all 1s ease;
  transition: all 1s ease;
  height: 10em;
}
.footer #container {
  margin-top: 5px;
  width: 100%;
  height: 100%;
  position: relative;
  top: 0;
  left: 0;
  background: #3A3A3A;
}
.footer #cont {
  position: relative;
  top: -45px;
  right: 190px;
  width: 150px;
  height: auto;
  margin: 0 auto;
}
.footer_center {
  width: 500px;
  float: left;
  text-align: center;
}
.footer h3 {
  font-family: 'Helvetica';
  font-size: 12px;
  font-weight: 100;
  margin-top: 70px;
  margin-left: 40px;
}
.jokeheaderimage {
  width: 50%;
  position: relative;
}
@media (max-width: 500px) {
  .jokeheaderimage {
    width: 100%;
    display: flex;
    justify-content: center;
  }
}
.jokeheadertext {
  left: 0;
  position: top;
  text-align: center;
  width: 95%;
  letter-spacing: 7px;
  text-transform: uppercase;
  font-size: 5em;
  color: black;
  margin-top: 100px;
  margin-bottom: 75px;
}
@media (max-width: 500px) {
  .jokeheadertext {
    width: 100%;
    margin-bottom: 35px;
  }
}
.header {
  width: 100%;
}
h1 {
  margin-bottom: 20px;
}
@media (max-width: 500px) {
  h1 {
    width: 100%;
    margin-bottom: 35px;
    font-size: 6rem;
    font-weight: bolder;
  }
}
.banner {
  width: 100%;
}
@media (max-width: 500px) {
  .banner {
    display: none;
  }
}
.jokes {
  margin-top: 50px;
  background: #1E6AE1;
}
@media (max-width: 500px) {
  .jokes {
    width: 100%;
  }
}
.joke {
  margin: 7% 10%;
  text-align: center;
  padding: 0 20px 25px;
  border-radius: 10px;
  position: relative;
  height: 100px;
  background: #b800e6;
  overflow: hidden;
  box-shadow: 2px 2px 2px lightgrey;
}
@media (max-width: 500px) {
  .joke {
    height: 225px;
  }
}
.joke h2 {
  font-size: 2em;
  padding: 0;
  margin: 15px 0 0;
  font-weight: bold;
  color: #b3d9ff;
}
@media (max-width: 500px) {
  .joke h2 {
    font-size: 3rem;
  }
}
.joke p {
  font-size: 3em;
  margin-top: 80px;
  font-weight: bolder;
  color: #ffa64d;
}
@media (max-width: 500px) {
  .joke p {
    font-size: 3.5rem;
    margin-top: 145px;
  }
}
.close {
  position: absolute;
  top: 10px;
  right: 10px;
}
.answerButton {
  position: absolute;
  bottom: 0;
  left: 50%;
  font-size: 4.5rem;
  color: #009933;
  cursor: pointer;
  font-weight: bolder;
  transform: translate(-50%);
  background-color: #e6e600;
}
@media (max-width: 500px) {
  .answerButton {
    font-size: 4rem;
  }
}
.joke-open {
  height: 300px;
}
@media (max-width: 500px) {
  .joke-open {
    height: 500px;
  }
}
body {
  width: 960px;
  margin: 0 auto;
  text-align: center;
  background: #1E6AE1;
}
@media (max-width: 500px) {
  body {
    width: 480px;
  }
}
#page {
  height: 100%;
}
#headerimage {
  width: 50%;
  position: relative;
}
#headertext {
  left: 0;
  position: top;
  text-align: center;
  width: 100%;
  letter-spacing: 7px;
  text-transform: uppercase;
  font-size: 300%;
  color: black;
}
#nav,
#welcome,
#copyright {
  padding: 15px;
  margin: 10px;
}
#welcomeparagraph:first-letter {
  font-size: 150%;
}
h2,
h3 {
  text-transform: uppercase;
}
li {
  display: inline;
  padding: 10px;
  margin: 7px;
  font-size: 125%;
}
a {
  position: relative;
  background: none;
  color: black;
  text-transform: uppercase;
  text-decoration: none;
  border: 0.2em solid black;
  padding: 0.5em;
  margin: 10px;
}
a::before {
  content: "";
  display: block;
  position: absolute;
  width: 10%;
  background: #1E6AE1;
  height: 0.3em;
  right: 20%;
  top: -0.21em;
  transform: skewX(-45deg);
  -webkit-transition: all 0.45s cubic-bezier(0.86, 0, 0.07, 1);
  transition: all 0.45s cubic-bezier(0.86, 0, 0.07, 1);
}
a::after {
  content: "";
  display: block;
  position: absolute;
  width: 10%;
  background: #1E6AE1;
  height: 0.3em;
  left: 20%;
  bottom: -0.25em;
  transform: skewX(45deg);
  -webkit-transition: all 0.45 cubic-bezier(0.86, 0, 0.07, 1);
  transition: all 0.45s cubic-bezier(0.86, 0, 0.07, 1);
}
a:hover::before {
  right: 80%;
}
a:hover::after {
  left: 80%;
}
#jokehere {
  font-size: 2em;
  color: #177E89;
}
.jokebox {
  height: 100px;
  background: #31393C;
  border-radius: 50px;
}
button {
  margin: 10px;
}
/* Style inputs with type="text", select elements and textareas */
input[type=text],
select,
textarea {
  width: 100%;
  /* Full width */
  padding: 12px;
  /* Some padding */
  border: 1px solid #ccc;
  /* Gray border */
  border-radius: 4px;
  /* Rounded borders */
  box-sizing: border-box;
  /* Make sure that padding and width stays in place */
  margin-top: 15px;
  /* Add a top margin */
  margin-bottom: 25px;
  /* Bottom margin */
  resize: vertical;
  /* Allow the user to vertically resize the textarea (not horizontally) */
}
/* Style the submit button with a specific background color etc */
input[type=submit] {
  background-color: #4CAF50;
  color: white;
  padding: 12px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}
/* When moving the mouse over the submit button, add a darker green color */
input[type=submit]:hover {
  background-color: #45a049;
}
/* Add a background color and some padding around the form */
.container {
  border-radius: 5px;
  padding: 20px;
}
