.nav-border {
    .flexcol();
    border-bottom: 1px solid;
   background-color: beige;
    height: 130px;
  
    h1 {
         margin-top: 9rem;
         margin-right: 65rem;
      font-size: 6rem;
      align-content: center;
     
    }
  }
  
  .nav-content {
    nav {
      .navflex();
      margin-top: 2rem;
      font-size: 3rem;
      
  
      a {
        text-decoration: none;
        padding: 0 1.3rem;
    
        margin-bottom: 3rem;
      }
    }
  }
  